* {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    overflow-y: hidden;
}

header {
    width: 100%;
    padding: 10px;
    background-color: white;
    position: fixed;
    color: black;

}

header nav ul{
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style: none;
}

.fa-youtube {
    color: red;
    margin-top: 7px;
    font-size: 28px;
}

.yt {
    font-size: 20px;
    font-weight: bold;
}

.img-youtube {
    height: 45px;
    margin-top: -3px;
}
.fa-bars {
    margin-top: 10px;
    font-size: 17px;
    margin-left: 10px;
}
.fa-search {
    font-size: 18px;
    margin-top: 10px;
}

.fa-microphone {
    margin-top: 14px;
    font-size: 20px;
    margin-left: 24px;
}

.fa-microphone:hover {
    color: gray;
}
.fa-ellipsis-vertical {
    margin-top: 10px;
    margin-left: 150px;
    font-size: 20px;
}
li {
    font-size: 25px;
}

input {
    width: 90vh;
    height: 35px;
    border: 1px solid rgb(206, 196, 196);
    border-left: none;
    border-radius: 100px;
    margin-left: 200px;
    padding: 15px;
}

button {
    border-radius: 20px;
    width: 15vh;
    padding: 5px;
    border: none;
    background-color: aliceblue;
}

button:hover {
    background-color: rgb(230, 222, 222);
    cursor: pointer;
}
main {
    flex: 5;
    display: flex;
}

section {
    flex: 0.8;
    background: white(233, 154, 154);
    margin-top: 4.4%;
    overflow-y: scroll;
    height: 100vh;
}

aside {
    flex: 4;
    overflow-y: scroll;
    height: 100vh;
}

main section ul {
    display: flex;
    gap: 20px;
    margin-left: 10px;
    padding: 10px;
}

main section ul:hover{
    background-color: rgb(219, 224, 224);
    border-radius: 10px;
}
main section ul li {
    list-style: none;
    font-size: 17px;
}

main section ul i {
    font-size: 15px;
    margin-top: 3px;
}

.line {
    border: 1px solid rgb(231, 225, 225);
    width: 94.6%;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    padding: 15px;
    font-size: 20px;
}

main aside ul {
    display: flex;
    margin-top: 4.1%;
    margin-left: 30px;
    gap: 10px;
    background-color: white;
    position: fixed;
    width: 100%;
}

main aside li:hover {
    background-color: rgb(208, 206, 204);
}
main aside ul li {
    list-style: none;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.video-container {
    margin-top: 10%;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.all-video {
    display: flex;
}
.video {
    width: 32%;
    height: 30%;
    background-color: white;
}

iframe {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

img {
    border-radius: 100%;
    height: 40px;
}
main .video-container .video .pf p {
    margin-left: 10px;
    margin-top: 4px;
}
.pf {
    display: flex;
    margin-top: 8px;
}

.name {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    color: rgb(90, 87, 87);
}


li:hover{
    cursor: pointer;
}

